body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide both horizontal and vertical overflow */
}

header {
    background-color: #0077b5;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
    padding: 20px;
}

/* Updated style for .navigation to align buttons in a column on the left */
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start (top) of the container */
    align-items: flex-start; /* Align items to the start (left) of the container */
}

/* Updated style for .navigation button */
.navigation button {
    background-color: #0077b5;
    color: white;
    padding: 12px 30px;
    border: 2px solid #0077b5;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
    width: auto; /* Set width to auto to fit button content */
}

/* Hover effect remains the same */
.navigation button:hover {
    background-color: white;
    color: #0077b5;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Enable vertical scrolling within main content */
    padding: 20px;
    flex-grow: 1; /* Allow main content to grow and fill remaining space */
}

.visualization {
    border: 2px solid #0077b5;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%; /* Limit width to 80% of parent width */
    margin-left: auto; /* Automatically align to the right */
    margin-right: auto; /* Automatically align to the left */
}

.visualization img {
    max-width: 100%; /* Ensure image does not exceed container width */
    max-height: 110vh; /* Increase maximum height to 90% of viewport height */
    object-fit: contain; /* Maintain aspect ratio and fit inside container */
    margin-bottom: 20px; /* Space below image */
}
